<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Authorization Code Grant Client</title>
</head>
<body style="background-color:azure">
    


    <form id="form1" action="@ViewBag.Action" method="POST">
        <div>
            <strong>Access Token</strong><br />
            <div>@Session["neropay_access_token"]'  </div>
            
        </div>
        <div>

            @if (ViewBag.AccountList!=null)
            {
                <select asp-for="FlightDestID">

                    @foreach (var account in (List<PaymixSDK.Account>)ViewBag.AccountList)
                {
                        <option value="@account.accountNumber" label="@account.accountNumber - @account.currencyCode  "></option>
                    }
                </select>

                <table>
                    <tr><td>email</td><td>@ViewBag.Profile.email</td></tr>
                    <tr><td>logged in user</td><td>@ViewBag.Profile.name @ViewBag.Profile.surname</td></tr>
                    <tr><td>mobile</td><td>@ViewBag.Profile.mobilePrefix @ViewBag.Profile.mobile</td></tr>
                </table>

            }
          
           
        </div>
        <div>
            @ViewBag.account
        </div>
    </form>
</body>
</html>